@using h = AmazedSaint.MvpBuzz.Helpers.Helpers
@model dynamic


<div class="row-fluid">

    @foreach (var item in Model.response.list)
    {
        if (item.content != null)
        {
        <div class="tile" style="height: @(item.mytype=="image"?"600px":"300px")">
            <div class="tiletitle">
                <img src="@item.topsy_author_img" width="40" height="40"/>
                &nbsp; <small><a class="note" href="/Home/View?s=@item.trackback_author_nick" target="_blank">
                                  <b>@item.trackback_author_name</b></a></small><br/>
            </div>
            <div style="display: block">
                <iframe style="margin-top:10px; margin-bottom: 10px; width:150px; height:20px;" allowtransparency="true" frameborder="0" scrolling="no" src="//platform.twitter.com/widgets/follow_button.html?show_screen_name=false&screen_name=@item.trackback_author_nick">
                </iframe>

            </div>
            
            <div style="padding:7px">
            @if (item.medium_thumbnail != null)
            {
                <div class="thumbnail">
                    <img src="@item.medium_thumbnail" alt="@item.title"/>
                </div>
            }

                @if (item.url!=null && item.mytype!="tweet")
                {
                       <a rel="tooltip" data-toggle="popover" data-trigger="hover" data-title="@item.trackback_author_name says"  data-content="@Html.Encode(h.Raw((string)item.content))" href="@item.url" >
                        <div class="twittercontent">
                            @h.Raw((string) item.title)
                        </div>
                    </a>
                }
                else
                {
                 
                            <div class="twittercontent">
                                @h.Raw((string) item.title)
                            </div>
                        
                }

            
                <div class="badge badge-success">@item.mytype
                    | @item.hits shares
                </div>
            
            </div>
        </div>
        }
    }

</div>
