@using h = AmazedSaint.MvpBuzz.Helpers.Helpers
@model dynamic

<div class="row-fluid">

    @foreach (var item in Model.response.list)
    {
        if (item.content != null)
        {
        <div class="tile">
            <div style="display: block">
                <img src="@item.topsy_author_img" width="32" height="32"/>
                &nbsp; <small><a class="note" href="https://twitter.com/intent/user?screen_name=@item.trackback_author_nick" target="_blank"><b>@item.trackback_author_name</b></a></small>               
                 <iframe style="margin-top:10px; margin-bottom: 10px; width:150px; height:20px;" allowtransparency="true" frameborder="0" scrolling="no"
  src="//platform.twitter.com/widgets/follow_button.html?show_screen_name=false&screen_name=@item.trackback_author_nick"
  ></iframe>
            </div>
            @if (item.medium_thumbnail != null)
            {
                <div class="thumbnail">
                    <img src="@item.medium_thumbnail" alt="@item.title"/>
                </div>
            }
            <div class="well twittercontent">
                <b>@h.Raw((string)item.title)</b>&nbsp;<div class="badge badge-important">@item.mytype | @item.hits shares
                </div>
            </div>

            @if (item.mytype != "tweet")
            {
                <small class="twittercontent">@h.Raw((string)item.content)</small>
            }
        </div>
        }
    }

</div>
