<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>MvpBuzz - Follow The Buzz From Microsoft MVPs</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="/Content/bootstrap-responsive.min.css" />
    <script type="text/javascript" src="/Scripts/imagesloaded.js"></script>
    <script type="text/javascript" src="/Scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/Scripts/mansonary.js"></script>



    <style>
        .picktype
        {
        }

        .pickwindow
        {
        }

        .twittercontent
        {
            margin-bottom: 10px;
        }

        a {
            color: gray;
        }

        .tile
        {
            width: 200px;
            float: left;
            margin: 10px;
            border: #dfdfdf 1px solid;
            padding: 7px;
            background: #fafafa;
        }
    </style>

</head>

<body>
    <div id="mainnav" class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="@Url.Action("View", "Home", new {s = "CSharp OR MSDN OR TypeScript OR VB.NET OR #VS2012", title = "Developers"  })">MvpBuzz</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="@Url.Action("View", "Home", new { s = "#MVP13", title = "Mvp13" })">
                            MVP13</a></li>
                        <li><a href="@Url.Action("View", "Home", new { s = "CSharp OR MSDN OR TypeScript OR VB.NET OR #VS2012", title = "Developers" })">
                            Developers</a></li>
                        <li><a href="@Url.Action("View", "Home", new { s = "#Azure OR Office365 OR HadoopOnAzure OR HDInsight OR PowerPivot OR PowerView", title = "Cloud" })">
                            Cloud</a></li>
                        <li><a href="@Url.Action("View", "Home", new { s = "SQLServer OR HDInsight OR SQLAzure OR PowerPivot", title = "Data" })">
                            Data</a></li>
                        <li><a href="@Url.Action("View", "Home", new { s = "Windows8 OR WinRT OR Win8 OR Surface OR #surface", title = "Windows" })">
                            Windows</a></li>
                        <li><a href="@Url.Action("View", "Home", new { s = "wp8 OR windowsphone OR #wpdev OR lumia920", title = "Phone" })">
                            Phone</a></li>
                        <li><a href="@Url.Action("View", "Home", new { s = "SharePoint OR MSCRM OR Dynamics OR PowerView", title = "SharePoint" })">
                            Sharepoint</a></li>
                        <li><a href="@Url.Action("View", "Home", new { s = "#mvpbuzz", title = "Buzz" })">
                            Buzz</a></li>
                        <li><a href="@Url.Action("View", "Home", new { s = "XBox OR sp2013 OR lookingglass OR Surface OR Kinect", title = "Other" })">
                            More..</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">

                <div class="alert alert-heading">
                    <h2>@ViewBag.Title</h2>
                </div>

                <div class="well" id="loaddiv">
                    <img src="/Images/loading.gif" width="40" height="40" />
                    | Hold On, Loading..
                </div>

                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="nav-header">Show</li>
                        <li data-type=""><a class="picktype" href="#">Everything</a></li>
                        <li data-type="link" class="active"><a class="picktype" href="#">Articles</a></li>
                        <li data-type="video"><a class="picktype" href="#">Videos</a></li>
                        <li data-type="image"><a class="picktype" href="#">Pictures</a></li>
                        <li data-type="tweet"><a class="picktype" href="#">Tweets</a></li>
                    </ul>
                </div>
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="nav-header">Popular In</li>
                        <li data-window="h"><a class="pickwindow" href="#">Last Hour</a></li>
                        <li data-window="d"><a class="pickwindow" href="#">Last Day</a></li>
                        <li data-window="w"><a class="pickwindow" href="#">Last Week</a></li>
                        <li data-window="m"  class="active"><a class="pickwindow" href="#">Last Month</a></li>
                    </ul>
                </div>

                @{
                    var dic = Session["recent"] as Dictionary<string, string>;
                }

                @if (dic != null && dic.Count > 0)
                {
                    <div class="well sidebar-nav">
                        <ul class="nav nav-list">
                            <li class="nav-header">Recent</li>
                            @foreach (var li in dic)
                            {
                                <li><a href="/Home/View?s=@li.Key">@li.Value</a></li>
                            }
                        </ul>
                    </div>
                }

                <div class="well sidebar-nav">
                    <small>A quick hack by <a href="http://amazedsaint.com">Anoop Madhusudanan</a>
                        <br/> <iframe style="margin-top:10px; margin-bottom: 10px; width:150px; height:20px;" allowtransparency="true" frameborder="0" scrolling="no" src="//platform.twitter.com/widgets/follow_button.html?show_screen_name=false&screen_name=amazedsaint">
                </iframe>
                        <hr/>
                        <div class="badge"><a target="_blank" href="https://twitter.com/intent/user?screen_name=topsy">Powered by Topsy</a></div>
                    </small>
                </div>


            </div>
            <!--/span-->
            <div class="span9" id="mainContent">
                @RenderBody()
            </div>
            <!--/span-->
            <hr>
            <div class="span11">
                <hr />
                <b>MvpBuzz </b>- <a href="http://amazedsaint.com">By Anoop </a>| <a href="https://github.com/amazedsaint/mvpbuzz">
                    Fork in Github</a>
                <br />
                <small>Disclaimer: This site, design, or content is not maintained or managed by Microsoft,
                    and may not be the opinion of Microsoft in anyway. All opinions are from the respective
                    individuals and or MVPs, as pulled from Twitter. For the topics, the app may display popular tweets from non MVPs too. Data may not be 100% accurate as we are fetching based on keywords and queries ;)</small>
            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)


</body>

</html>
